<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>User Stories Blog</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="wrapper">
    <div class="navbar">
        <a th:href="@{/}"><img class="logo" src="logowhite.png"></a>
        <div class="options">
            <label class="loggedUser" th:text="${user}"></label>
            <!--<form class="navform" th:if="${role == 'ADMIN'}" th:action="@{/users}"><button type="submit" style="display: inline">Edit Users</button></form>-->
            <form  class="navform" th:action="@{/invalidate/session}" method="post"><button type="submit" style="display: inline">Logout</button></form>
        </div>
    </div>

    <h1>Edit Roles</h1>
    <table class="userTable" th:if="${users.size() > 0}">
        <thead>
        <th>User First Name</th>
        <th>User Last Name</th>
        <th>User Email</th>
        <th>Username</th>
        <th>User Role</th>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <a class="blogMore" th:href="@{/user/showUpdateForm/{id}(id=${user.id})}">Update</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>