<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>User Stories Blog</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="wrapper">

    <div class="navbar" th:unless="${isLoggedIn}">
        <a th:href="@{/}"><img class="logo" src="logowhite.png"></a>
        <div class="options">
            <label class="loggedUser">Guest</label>
            <form class="navform" th:action="@{/register}" style="display: inline"><button type="submit">Register</button></form>
            <form class="navform" th:action="@{/login}" style="display: inline"><button>Login</button></form>
        </div>
    </div>
    <h1>Register User</h1>
    <form class="newBlogForm" action="#" th:action="@{/saveuser}" th:object="${user}" method="post">
        <input class="inputText" type="text" th:field="*{firstName}" placeholder="Enter First Name..."><br>
        <p class="inputError" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
        <input class="inputText" type="text" th:field="*{lastName}" placeholder="Enter Last Name..."><br>
        <p class="inputError" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
        <input class="inputText" type="text" th:field="*{email}" placeholder="Enter Email..."><br>
        <p class="inputError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        <input class="inputText" type="text" th:field="*{username}" placeholder="Enter Username..."><br>
        <p class="inputError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        <p class="inputError" th:if="${exists}">User with that username already exists.</p>
        <input class="inputText" type="password" th:field="*{password}" placeholder="Enter Password..."><br>
        <p class="inputError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        <input type="submit" value="Register">
    </form>
</div>
</body>
</html>