<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Stories Blog</title>
</head>
<body>
  <h1>Add Blog.</h1>
  <form action="#" th:action="@{/saveBlog}" th:object="${blog}" method="post">
    <input type="text" th:field="*{title}" placeholder="Enter Title..."><br>
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
    <textarea rows="10" cols="50" th:field="*{text}" placeholder="Enter Blog text..."></textarea><br>
      <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
    <input type="submit" value="Submit">
    </form>

</body>
</html>