<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Stories Blog</title>
</head>
<body>
    <h1 th:text="${comment.blog.title}"></h1>
    <p th:text="${comment.blog.text}"></p>
    <form action="#" th:action="@{/blogs/saveEditedComment}" th:object="${comment}" method="post">
        <textarea cols="50" rows="10" th:field="*{text}"></textarea>
        <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
        <input type="hidden" th:field="*{id}">
        <input hidden name="blogId" th:value="${comment.blog.id}">
        <button type="submit">Save Comment</button>
    </form>
    <hr>
    <a th:href="@{/}">Back to Blogs</a>
</body>
</html>