<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Stories Blog</title>
</head>
<body>
    <div th:if="${isLoggedIn}">
        <label th:text="${user}"></label>
        <form th:action="@{/invalidate/session}" method="post"><button type="submit">Logout</button></form>
    </div>

    <div th:unless="${isLoggedIn}">
        <label>Guest</label>
        <form th:action="@{/register}" style="display: inline"><button type="submit">Register</button></form>
        <form th:action="@{/login}" style="display: inline"><button>Login</button></form>
    </div>

    <h1>User Stories Blog</h1>
    <a th:if="${isLoggedIn && role == 'ADMIN'}" th:href="@{/addBlog}">Add blog.</a>
    <p th:if="${listOfBlogs.size()} < 1">There are no blogs on this site :(</p>
    <div style="background-color: aqua" th:unless="${listOfBlogs.size()} < 1" th:each="blog : ${listOfBlogs}">
        <h2 th:text="${blog.title}"></h2>
        <p th:text="${blog.summary}"></p>
        <p th:text="${'Published on ' + blog.timeOfPosting}"></p>
        <a th:href="@{/blogs/{title}/{id}(title=${blog.title}, id=${blog.id})}">See more..</a>
    </div>

</body>
</html>